<header xmlns:th="http://www.thymeleaf.org"
        data-th-fragment="frag-entete">
    <div class="logo">
        <a th:href="@{/}">
            <img src="/images/logo_ENI.png" alt="logo">
            Eni-Encheres
        </a>
    </div>
    <nav>

            <span>
                <a th:href="@{/}">Accueil</a>
            </span>

            <span data-th-if="${#authorization.expression('isAuthenticated()')}">
                <a href="/vendre" >Vendre</a>
            </span>

            <span data-th-if="${#authorization.expression('isAuthenticated()')}">
                <a href="/monProfil" >Profil</a>
            </span>

            <span data-th-if="${#authorization.expression('!isAuthenticated()')}">
                <a th:href="@{/login}">S'inscrire-Se connecter</a>
            </span>

            <span data-th-if="${#authorization.expression('isAuthenticated()')}">
                <a href="/logout" >Déconnexion</a>
            </span>

    </nav>
</header>

