<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
        data-th-fragment="frag-user">
        <div class="sidebar">
            <strong>Date du jour :</strong> <span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span>
            <strong>Participant :</strong> <span data-th-if="${#authorization.expression('isAuthenticated()')}" data-th-text="${#authentication.name}"></span>
            <div data-th-if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a th:href="@{/admin}">- Dashboard Admin -</a>
            </div>
        </div>
</div>

