<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-encheres(
                    titrePage=~{:: title},
                    contenuPage=~{:: main},
                    ressourcesSupp=~{})}">

<head>
    <title th:text="#{logout.title}">Déconnexion</title>
</head>
<body>
<main class="center-main">
    <h1 th:text="#{logout.confirmation}">Voulez-vous vraiment vous déconnecter ?</h1>

    <button>
        <a th:href="@{/logout}" th:text="#{logout.button.yes}">OUI</a>
    </button>
    <button>
        <a th:href="@{/}" th:text="#{logout.button.no}">NON</a>
    </button>
</main>
</body>
</html>
