<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-encheres(

                    titrePage=~{:: title},
                    contenuPage=~{:: main},
                    ressourcesSupp=~{:: link})}">

<head>
    <title th:text="#{logout.title}">Déconnexion</title>
  <link rel="stylesheet" th:href="@{/css/logout.css}">
</head>
<body>
<main class="center-main">
    <h1 th:text="#{logout.confirmation}">Voulez-vous vraiment vous déconnecter ?</h1>
 <div class="button-group">
    <button>
        <a th:href="@{/logout}" th:text="#{logout.button.yes}">OUI</a>
    </button>
    <button>
        <a th:href="@{/}" th:text="#{logout.button.no}">NON</a>
    </button>
  </div>

</main>
</body>
</html>
