<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-encheres(

                    titrePage=~{:: title},
                    contenuPage=~{:: main},
                   ressourcesSupp=~{:: link})}">

<head>
    <title th:text="#{profil.title}">Profil</title>
   <link rel="stylesheet" th:href="@{/css/profil.css}">

</head>
<body>
<main class="center-main">
    <section class="center-section">
        <div th:if="${user != null}">
            <h1 style="text-align: center;">
                <span th:text="#{profil.h1} + ' @' + ${user.pseudo}">Profil de @pseudo</span>
            </h1>

            <br><br><br><br>

            <table>
                <tbody>
                <tr>
                    <td th:text="#{profil.label.prenom}">Prénom :</td>
                    <td th:text="${user.prenom}">Jean</td>
                </tr>
                <tr>
                    <td th:text="#{profil.label.nom}">Nom :</td>
                    <td th:text="${user.nom}">Dupont</td>
                </tr>
                <tr>
                    <td th:text="#{profil.label.email}">Email :</td>
                    <td th:text="${user.email}">jean@example.com</td>
                </tr>
                <tr>
                    <td th:text="#{profil.label.telephone}">Téléphone :</td>
                    <td th:text="${user.telephone}">0601020304</td>
                </tr>

                <tr th:if="${isOwnProfile}">
                    <td>Crédit :</td>
                    <td data-th-text="${user.credit} + ' point(s)'"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${user == null}">
            <h2 th:text="#{profil.notfound}">Utilisateur non trouvé</h2>
        </div>


                  <div class="button-row">
        <div th:if="${isOwnProfile}"  class="update">
            <button>
                <a th:href="@{'/monProfil/update?pseudo=' + ${#authentication.name}}" th:text="#{profil.button.edit}">Modifier profil</a>
            </button>
            <button>
                <a th:href="@{'/monProfil/update-pwd?pseudo=' + ${#authentication.name}}" th:text="#{profil.button.password}">Modifier mot de passe</a>
            </button>
        </div>
  <div class="back">
        <button>
            <a th:href="@{/accueil/connecter}" th:text="#{profil.button.back}">Retour</a>
        </button>
      </div>
      </div>
    </section>
</main>
</body>
</html>
