<!DOCTYPE html>
<!-- Accueil comme titre de page -->
<!-- la balise main définit par la classe de CSS 'center-main' comme paramètre contenuPage -->
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-encheres(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{})}">

<head>
    <!-- Accueil comme titre de page -->
    <title data-th-text="#{profil.title}"></title>
</head>
<body>
<main class="center-main">
    <!-- Partie gauche du contenu -->
    <section class="center-section">
        <div th:if="${user != null}">
            <h1 style="text-align: center;" data-th-text="#{profil.h1} + ' @' + ${user.pseudo}"></h1>

            <br><br><br><br>

            <table>
                <!-- build html table based on users -->
                <tbody>
                <tr>
                    <td>Prenom :</td>
                    <td data-th-text="${user.prenom}"></td>
                </tr>

                <tr>
                    <td>Nom :</td>
                    <td data-th-text="${user.nom}"></td>
                </tr>

                <tr>
                    <td>Email :</td>
                    <td data-th-text="${user.email}"></td>
                </tr>

                <tr>
                    <td>Telephone :</td>
                    <td data-th-text="${user.telephone}"></td>
                </tr>
                </tbody>
            </table>

        </div>

        <div th:if="${user == null}">
            <h2>Utilisateur non trouvé</h2>
        </div>


        <div th:if="${isOwnProfile}">
            <button>
                <a th:href="@{/monProfil/update}">Modifier profil</a>
            </button>
            <button>
                <a th:href="@{/monProfil/update-pwd}">Modifier mot de passe</a>
            </button>
        </div>

        <button>
            <a th:href="@{/}">Retour</a>
        </button>



    </section>
</main>
</body>
</html>