<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-encheres(
                    titrePage=~{:: title},
                    contenuPage=~{:: main},
                    ressourcesSupp=~{})}">

<head>
    <title th:text="#{sale-form.title}">Créer une vente</title>
</head>
<body>
<main class="center-main">
    <section class="center-section">
        <h1 style="text-align: center;" th:text="#{sale-form.h1}">Créer une vente</h1>

        <form th:action="@{/vendre}" th:object="${articleAVendre}" method="post" enctype="multipart/form-data" novalidate>
            <table class="table-form">

                <tr>
                    <td><label for="article" th:text="#{sale-form.label.article}">Article (*) :</label></td>
                    <td><input type="text" id="article" th:field="*{nom_article}" required></td>

                    <td><label for="prix" th:text="#{sale-form.label.price}">Mise à prix (*) :</label></td>
                    <td><input type="number" id="prix" th:field="*{prix_initial}" required></td>
                </tr>

                <tr>
                    <td><label for="categorie" th:text="#{sale-form.label.category}">Catégorie (*) :</label></td>
                    <td>
                        <select id="categorie" th:field="*{no_categorie}">
                            <option value="" th:text="#{sale-form.option.category}">-- Sélectionnez une catégorie --</option>
                            <option th:each="cat : ${categories}"
                                    th:value="${cat.no_categorie}"
                                    th:text="${cat.libelle}">
                            </option>
                        </select>
                    </td>

                    <td><label for="debut" th:text="#{sale-form.label.start}">Début de l'enchère :</label></td>
                    <td><input type="date" id="debut" th:field="*{date_debut_encheres}"></td>
                </tr>

                <tr>
                    <td><label for="description" th:text="#{sale-form.label.description}">Description (*) :</label></td>
                    <td><textarea id="description" th:field="*{description}" rows="5" cols="40"></textarea></td>

                    <td><label for="fin" th:text="#{sale-form.label.end}">Fin de l'enchère :</label></td>
                    <td><input type="date" id="fin" th:field="*{date_fin_encheres}"></td>
                </tr>

                <tr>
                    <td><label for="adresse" th:text="#{sale-form.label.retrait}">Retrait (*) :</label></td>
                    <td colspan="3">
                        <select id="adresse" th:field="*{no_adresse_retrait}">
                            <option th:value="${adresse.no_adresse}"
                                    th:text="${adresse.rue + ' ' + adresse.code_postal + ' ' + adresse.ville}"
                                    selected="selected">
                            </option>
                            <option th:each="adr : ${adresses}"
                                    th:if="${adr.no_adresse != adresse.no_adresse}"
                                    th:value="${adr.no_adresse}"
                                    th:text="${adr.rue + ' ' + adr.code_postal + ' ' + adr.ville}">
                            </option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td><label for="image" th:text="#{sale-form.label.photo}">Photo de l'article :</label></td>
                    <td colspan="3">
                        <input type="file" id="image" name="image" accept="image/*" />
                    </td>
                </tr>


            </table>

            <div class="form-actions">
                <button class="creer" type="submit" th:text="#{sale-form.button.submit}">Créer</button>
                <button class="annuler" type="button" onclick="window.location.href='/'" th:text="#{sale-form.button.cancel}">Annuler</button>
            </div>
        </form>
    </section>
</main>
</body>
</html>
