<!DOCTYPE html>
<!-- Accueil comme titre de page -->
<!-- la balise main définit par la classe de CSS 'center-main' comme paramètre contenuPage -->
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-encheres(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{})}">

<head>
    <!-- Accueil comme titre de page -->
    <title data-th-text="#{sale-form.title}"></title>
</head>
<body>
<main class="center-main">
    <!-- Partie gauche du contenu -->
    <section class="center-section">
        <h1 style="text-align: center;" data-th-text="#{sale-form.h1}"></h1>

        <form th:action="@{/vendre}" method="post" novalidate>
            <table>
<!--                <tr th:object="${utilisateur}">-->
<!--                    <td><input type="text" id="pseudo" name="pseudo" th:field="*{pseudo}" readonly hidden></td>-->
<!--                </tr>-->

                <tr th:object="${articleAVendre}">
                    <td><label for="article">Article (*) :</label></td>
                    <td><input type="text" id="article" name="article" th:field="*{nom_article}" required></td>
                    <td><label for="prix">Mise à prix (*) :</label></td>
                    <td><input type="number" id="prix" name="prix" th:field="*{prix_initial}" required></td>
                </tr>

                <tr th:object="${articleAVendre}">
                    <td><label for="categorie">Catégorie (*) :</label></td>
                    <td><input type="text" id="categorie" name="categorie" th:field="*{prix_initial}"></td> <!--menu déroulant à option-->
                    <td><label for="debut">Debut de l'enchère  :</label></td>
                    <td><input type="date" id="debut" name="debut" th:field="*{date_debut_encheres}"></td><!--choix date dans calendrier + icon calendrier-->
                </tr>
                <tr th:object="${articleAVendre}">
                    <td><label for="description">Catégorie (*) :</label></td>
                    <td><input type="text" id="description" name="description" th:field="*{description}"></td> <!--textarea-->
                    <td><label for="fin">Fin de l'enchère  :</label></td>
                    <td><input type="date" id="fin" name="fin" th:field="*{date_fin_encheres}"></td><!--choix date dans calendrier + icon calendrier-->
                </tr>
                <tr th:object="${articleAVendre}">
                    <td><label for="adresse">Retrait (*) :</label></td>
                    <td><input type="text" id="adresse" name="adresse" th:field="*{description}"></td><!--liste d'option, menu déroulant avec les adresses de l'eni + adresse perso-->
                </tr>
            </table>


            <div class="form-actions">
                <button type="submit">Créer</button>
                <button type="button" onclick="window.location.href='/'">Annuler</button>
            </div>
        </form>



        <script>

        </script>



    </section>
</main>
</body>
</html>