<!DOCTYPE html>
<!-- Accueil comme titre de page -->
<!-- la balise main définit par la classe de CSS 'center-main' comme paramètre contenuPage -->
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-encheres(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{})}">

<head>
    <!-- Accueil comme titre de page -->
    <title data-th-text="#{new-profil.title}"></title>
</head>
<body>
<main class="center-main">
    <!-- Partie gauche du contenu -->
    <section class="center-section">
        <h1 style="text-align: center;" data-th-text="#{update-profil.h1}"></h1>


        <form class="profil-form" th:action="@{/monProfil/update}" method="post" novalidate>

            <!-- Champs Utilisateur -->
            <div th:object="${utilisateur}">
                <div>
                    <label>Pseudo :</label>
                    <input type="text" id="pseudo" name="pseudo" th:field="*{pseudo}" readonly>
                </div>

                <div>
                    <label>Nom (*) :</label>
                    <input type="text" id="nom" name="nom" th:field="*{nom}" required>
                    <div th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger"></div>
                </div>

                <div>
                    <label>Prénom (*) :</label>
                    <input type="text" id="prenom" name="prenom" th:field="*{prenom}" required>
                    <div th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="text-danger"></div>
                </div>

                <div>
                    <label>Email (*) :</label>
                    <input type="email" id="email" name="email" th:field="*{email}" required>
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
                </div>

                <div>
                    <label>Téléphone :</label>
                    <input type="tel" id="telephone" name="telephone" th:field="*{telephone}" pattern="^\\d{10}$"
                           title="Le numéro doit contenir exactement 10 chiffres"
                           maxlength="10">
                    <div th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}" style="color:darkred;" class="text-danger"></div>
                </div>
            </div>

            <!-- Champs Adresse -->
            <div th:object="${adresse}">
                <label>Adresse (*) :</label>
                <div style="display: flex; gap: 10px; flex-wrap: wrap;">
                    <!-- Rue -->
                    <div>
                        <input type="text" id="rue" name="rue" th:field="*{rue}" placeholder="Rue" required>
                        <div th:if="${#fields.hasErrors('rue')}" th:errors="*{rue}" class="text-danger"></div>
                    </div>

                    <!-- Code postal -->
                    <div>
                        <input type="text" id="code_postal" name="code_postal" th:field="*{code_postal}" placeholder="Code postal" required pattern="^\\d{5}$"
                               title="Code postal à 5 chiffres">
                        <div th:if="${#fields.hasErrors('code_postal')}" th:errors="*{code_postal}" class="text-danger"></div>
                    </div>

                    <!-- Ville -->
                    <div>
                        <input type="text" id="ville" name="ville" th:field="*{ville}" placeholder="Ville" required>
                        <div th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}" class="text-danger"></div>
                    </div>
                </div>
            </div>



            <div class="form-actions">
                <button class="creer" type="submit">Enregistrer modification</button>
                <button class="annuler" type="button" onclick="history.go(-1)">Annuler</button>
            </div>
        </form>
    </section>
</main>
</body>
</html>